* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  max-height: 600px;
  padding: 20px;
  background-color:lightcoral;
  border-radius: 5px;
  color: aliceblue;
}

.author {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

button {
  border: none;
  padding: 7px;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  border-radius: 10px;
}

p{
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 15px;
}

button:active {
  background-color: lightcoral;
  color: whitesmoke;
}